<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="content-type">
    </head>
<div dir="rtl">
{% for f in forums %}
<a href="forum/{{f.id}}">{{f.id}} - {{f.name}}</a><br/>
{% endfor %}
<br/>
<br/>
פורומים זמניים\אישיים
<br/>
{% for f in unnamed %}
<a href="forum/{{f.id}}">{{f.id}}</a><br/>
{% endfor %}
</div>
</html>
