{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/waypoint.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>

<div dir="rtl">
    <h1>פורום {{forum.id}}: {{forum.name}}</h1>
    <br/>
    <h3>{{threadcount}} דיונים</h3>
    <br/>
{% block content %}
  <div class="infinite-container">
    {% for t in threads %}
    <div class="infinite-item"><a href="/thread/{{t.id}}">{{t.id}}: {{t.name}}</div>
    {% endfor %}
  </div>

  {% if threads.has_next %}
    <a class="infinite-more-link" href="?page={{ threads.next_page_number }}">העמוד הבא</a>
  {% endif %}
</div>
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0]
    });
  </script>
{% endblock %}
