{% load static %}
<script src="{% static 'js/waypoint.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title dir="rtl">
      GAMER :: {{channel}} :: {{t.forum.name}} :: {{t.name}}
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
  <meta content="אתר המשחקים של ישראל. משחקים חדשים, הורדות, סרטוני וידאו, חדשות לוהטות מעולם הגיימינג, קהילות ענקיות. כל מה שמעניין אתכם במקום אחד." name="description"/>
  <meta content="Games, Flash, Online, Network, Tennis, Racing, Cars, Sports, Shoot, Action, Puzzle, Multiplayer, On Demand, Card, Arcade, Reviews, News, Fun, Entertainment, Cheats, XBox, Playstation,שחקים, פלאש, פאזל, פזל, יריות, אקשן, אסטרטגיה, חומרה, תפקידים, פלייסטיישן " name="keywords"/>
  <link href='{% static "/gamer/icon.ico" %}' rel="shortcut icon"/>
  <link href='{% static "/gamer2/skins/0/js/css/blitzer/jquery-ui-1.8.custom.css" %}' media="all" rel="stylesheet" type="text/css"/>
  <link href='{% static "/gamer2/skins/0/js/jquery.pnotify.default.css" %}' rel="stylesheet" type="text/css"/>
  <link href='{% static "/gamer2/skins/0/CSS/pnotify.css" %}' rel="stylesheet" type="text/css"/>
  <link href='{% static "/gamer2/skins/0/CSS/skin.css" %}' rel="stylesheet" type="text/css"/>
 </head>

 <body>
  <div id="overDiv" style="position:absolute; visibility:hide; z-index:1;">
  </div>
      <table class="Structural TopNavBar">
       <tr>
        <td align="left">
         <table border="0" cellpadding="0" cellspacing="0" height="30">
          <form action="http://forums.gamer.nana10.co.il/gamer2/php/index.php" method="get" name="sform" onsubmit="return doSearchCeck();">
           <tr>
            <td width="10">
            </td>
            <td width="20">
             <input class="TopNavBarSubmit" dir="rtl" id="submit" name="submit" type="submit" value="חפש בפורומים"/>
            </td>
            <td width="5">
            </td>
            <td align="right">
             <input class="TopNavBar" dir="rtl" id="user" name="user" onblur="unFocus(1);" onfocus="doFocus(1);" style="width:130px;" type="text" value="לפי שם משתמש"/>
            </td>
            <td width="5">
            </td>
            <td align="right">
             <input class="TopNavBar" dir="rtl" id="search" name="search" onblur="unFocus(0);" onfocus="doFocus(0);" style="width:130px;" type="text" value="לפי ביטוי"/>
            </td>
            <td>
             <input name="sctn" type="hidden" value="-1"/>
            </td>
            <!-- 
 <td >&nbsp;</td>
  <td align="right" ><SELECT id="sctn" name="sctn" class="TopNavBar" >
<OPTION SELECTED value="0">חיפוש על פי סוג</OPTION>
<OPTION  value="5">חדשות</OPTION>
<OPTION  value="1">כתבות</OPTION>
<OPTION  value="2">הורדות</OPTION>
<OPTION  value="3">טיפים וצ'יטים</OPTION>
<OPTION  value="-1">דיונים בפורומים</OPTION>
</SELECT></td>
<td >&nbsp;</td>
  
  <td align="right"><SELECT id="channel" name="channel" class="TopNavBar" >
<OPTION SELECTED value="0">חיפוש לפי ערוץ</OPTION>
<OPTION  value="1">פעולה</OPTION>
<OPTION  value="8">קונסולות</OPTION>
<OPTION  value="2">אסטרטגיה</OPTION>
<OPTION  value="3">תפקידים</OPTION>
<OPTION  value="18">משחקים המונים</OPTION>
<OPTION  value="4">סימולטורים</OPTION>
<OPTION  value="5">ספורט</OPTION>
<OPTION  value="79">משחקי מנג'ר וניהול</OPTION>
<OPTION  value="7">חומרה</OPTION>
<OPTION  value="76">Gamer XTRA</OPTION>
</SELECT></td>
-->
           </tr>
          </form>
         </table>
        </td>
        <td width="5">
        </td>
        <td align="right" style="padding-top:5px;" valign="bottom">
         <table border="0" cellpadding="0" cellspacing="0">
          <tr>
           <td class="PersonalNavBar">
            <img align="top" src='{% static "/gamer2/skins/0/images/design/pina_tab_left.gif" %}'/>
           </td>
           <td class="PersonalNavBar" width="60">
            <a class="PersonalNavBarButtonText" href='{% static "/gamer2/php/login.php" %}'>
             שכחת סיסמה?
            </a>
           </td>
           <td class="PersonalNavBar">
            <img align="top" src='{% static "/gamer2/skins/0/images/design/pina_tab_right.gif" %}'/>
           </td>
           <td width="3">
           </td>
           <td class="PersonalNavBar">
            <img align="top" src='{% static "/gamer2/skins/0/images/design/pina_tab_left.gif" %}'/>
           </td>
           <td class="PersonalNavBar" width="60">
            <a class="PersonalNavBarButtonText" href='{% static "/gamer2/php/register.php" %}'>
             הרשמה
            </a>
           </td>
           <td class="PersonalNavBar">
            <img align="top" src='{% static "/gamer2/skins/0/images/design/pina_tab_right.gif" %}'/>
           </td>
           <td width="3">
           </td>
           <td class="PersonalNavBar">
            <img align="top" src='{% static "/gamer2/skins/0/images/design/pina_tab_left.gif" %}'/>
           </td>
           <td class="PersonalNavBar" width="60">
            <a class="PersonalNavBarButtonText" href='{% static "/gamer2/php/login.php" %}'>
             כניסה
            </a>
           </td>
           <td class="PersonalNavBar">
            <img align="top" src='{% static "/gamer2/skins/0/images/design/pina_tab_right.gif" %}'/>
           </td>
           <td width="3">
           </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>
    </tr>
   </tbody>
  </table>

  <table border="0" cellpadding="0" cellspacing="0" width="100%">
   <tr>
    <td colspan="3" height="10">
    </td>
   </tr>
   <tr>
    <td align="right" valign="top">
     <link href='{% static "/Soda/gamer/skin.css" %}' rel="stylesheet" type="text/css"/>
     <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
       <td valign="top">
        <table border="0" cellpadding="0" cellspacing="0" class="wrapperBorder" width="100%">
         <tr>
          <td>
           <table border="0" cellpadding="0" cellspacing="1" class="ForumsList" dir="rtl" width="100%">
            <tr>
             <td class="ForumChannelHeaderBar PrettyBoxHeadline RedLine" colspan="4" style='background-image: url({% static "gamer2/skins/0/images/g3style/mainbox-top.png" %});'>
              <table cellpadding="0" cellspacing="0" width="100%">
               <tr>
                <td>
                 <span class="forumNameBlank">
                     {{t.name}}
                 </span>
                </td>
                <td align="left" class="ForumChannelHeaderBar PrettyBoxHeadline" style='background-image: url({% static "gamer2/skins/0/images/g3style/mainbox-top.png" %});' valign="middle">
                 <div style="width: 1px; padding: 0px; font-size: 1px; height: 5px;">
                </td>
               </tr>
              </table>
             </td>
            </tr>
            <tr class="ForumListItem">
             <td align="center" class="ClearBoxInterior BackgroundWhite" style="vertical-align:middle" width="41">
              הדיון נעול
             </td>
             <td class="ClearBoxInterior BackgroundWhite">
              <table>
              </table>
             </td>
             <td class="ClearBoxInterior BackgroundWhite" width="300">
              <img align="absmiddle" border="0" src='{% static "/gamer2/skins/0/images/icons//icon_homepage.gif" %}'/>
              <a class="forum1" href='{% static "/gamer2/php/forumslist.php" %}'>
               חזור לדף פורומים ראשי
              </a>
              <br/>
              <img align="absmiddle" border="0" src='{% static "/gamer2/skins/0/images/icons/icon_bar.gif" %}'/>
              <img align="absmiddle" border="0" src='{% static "/gamer2/skins/0/images/icons/icon_folder.gif" %}'/>
               <a class="forum1" href="/forum/{{ t.forum.id }}">
                  חזור לפורום {{t.forum.name}}
              </a>
              <br/>
              <img align="absmiddle" border="0" src='{% static "/gamer2/skins/0/images/icons/icon_corner.gif" %}'/>
              <img align="absmiddle" border="0" src='{% static "/gamer2/skins/0/images/icons/icon_folder.gif" %}'/>
             </td>
             <td class="ClearBoxInterior BackgroundWhite pagerDropBox mediumText" width="130">
                 סה"כ {{postcount}} תגובות
              <br/>
              על פני {{pages}} עמודים
              <br/>
              עבור לדף:
              <select class="smallText" onchange="go(this)">
              </select>
              <br/>
             </td>
            </tr>
           </table>
          </td>
         </tr>
        </table>
       </td>
      </tr>
      <tr>
       <td class="simplePagerContainer">

        <table border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr class="simplePager smallText">
          <td class="simplePagerNext" nowrap="" width="60">
        {% if posts.has_next %}
        <a href='?page={{ posts.next_page_number }}'>
            « לדף הבא
           </a>
        {% endif %}
        {% if posts.has_previous %}
        <a href='?page={{ posts.previous_page_number }}' style="text-align: right;">
            « לדף הקודם
           </a>
        {% endif %}
          </td>
         </tr>
        </table>
       </td>
      </tr>
      <tr>
       <td colspan="3" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" class="wrapperBorder" width="100%">
         <tr>
          <td>
           <table border="0" cellpadding="0" cellspacing="1" class="ForumsList" dir="rtl" width="100%">
            <tr>
             <th class="ForumsListHeaderBar" width="140">
              מאת
             </th>
             <th class="ForumsListHeaderBar">
              תוכן
             </th>
            </tr>

            {% for p in posts %}
            <tr class="ForumListItem">
             <td class="ClearBoxInterior BackgroundWhite tinyText " nowrap="" style="vertical-align:middle;" width="1%">
                 <a id="ReplyAnchor{{p.id}}" name="ReplyAnchor{{p.id}}">
               <img align="absmiddle" src='{% static "/gamer2/skins/0/images/icons/posticon.gif" %}'/>
                 </a>
                 {{p.creation_time|date:"j/n/Y"}}
              <nobr>
                 {{p.creation_time|date:"[H:i:s]"}}
              </nobr>
                 <br/>
             </td>
             <td class="ClearBoxInterior BackgroundWhite">
              <table border="0" class="Structural AlignVerticalMiddle ToolBarPadding">
               <tr>
                <td class="smallText" nowrap="" style="padding-right:3px;" width="50">
                    <a href='/thread/{{p.thread.id}}'>
                     #{{p.index}} עבור לדיון
                 </a>
                </td>
                {% if p.thread.ratings %}
                <td class="smallText" width="52">
                    <div style="padding: 1px 1px 1px 1px; height:7px; border: 1px solid black;width:45px;text-align:right;">
                        <div style="background-color:#{{p.color}}; height:7px; width:{{p.dsize}}%;clip:auto;overflow:hidden;"></div>
                    </div>
                </td>
                {% else %}
                <td class="smallText">בפורום זה, אין שימוש במערכת הדירוג</td>
                {% endif %}
                <td align="left" class="smallText" width="208">
                 <img src='{% static "/gamer2/skins/0/images/icons/report.gif" %}' style="opacity:0.4;filter:alpha(opacity=40)"/>
                 <img src='{% static "/gamer2/skins/0/images/icons/edit.gif" %}' style="opacity:0.4;filter:alpha(opacity=40)"/>
                 <a class="smallText" href='#'>
                  <img src='{% static "/gamer2/skins/0/images/icons/quote.gif" %}'/>
                 </a>
                </td>
               </tr>
              </table>
             </td>
            </tr>
            <tr class="ForumListItem">
             <td class="ClearBoxInterior BackgroundWhite" width="100">
              <div class="boldText">
                  {{p.author.nick}}
              </div>
              <div>{{p.author.desc}}</div>
              <div><div style="padding: 1px 1px 1px 1px; height:5px; border: 1px solid black;width:96px;text-align:right;">
                      <div style="background-color:#{{p.author.color}}; height:5px; width:{{p.author.dsize}}%;clip:auto;overflow:hidden;"></div>
              </div></div>
              <div>
                  <img class="ForumAvatar" src="{% static "/user_avatar/" %}user{{p.author.id}}.jpg"/>
              </div>
              <div>
               <div style="line-height:3px;height:3px;">
               </div>
               <table border="0" class="UserComsPanel smallText" dir="rtl" width="82">
                <tr>
                 <td class="box" nowrap="">
                     <a href='/user/{{p.author.id}}'>
                   <img align="absbottom" alt="כנס לפרופיל של AzachE" border="0" src='{% static "/gamer2/skins/0/images/icons/profile.gif" %}' title="כנס לפרופיל של AzachE"/>
                  </a>
                  <a href='#'>
                   <img align="absbottom" alt="שלח הודעה פרטית לAzachE" border="0" src='{% static "/gamer2/skins/0/images/icons/sendpm.gif" %}' title="שלח הודעה פרטית לAzachE"/>
                  </a>
                  <a href='#'>
                   <img align="absbottom" alt="הוסף את AzachE לרשימת החברים שלך" border="0" src='{% static "/gamer2/skins/0/images/icons/buddy.gif" %}' title="הוסף את AzachE לרשימת החברים שלך"/>
                  </a>
                 </td>
                </tr>
               </table>
              </div>
              <div>
                  הודעות: {{p.author.messagecount}}
              </div>
              <div>
              </div>
             </td>
             <td class="ClearBoxInterior mediumText BackgroundWhite">
                 {% autoescape off %}
                 {{p.content}}
                 {% endautoescape %}
             </td>
            </tr>
            {% endfor %}
           </table>
        {% if posts.has_next %}
        <a href='?page={{ posts.next_page_number }}'>
            « לדף הבא
           </a>
        {% endif %}
        {% if posts.has_previous %}
        <a href='?page={{ posts.previous_page_number }}' style="text-align: right;">
            « לדף הקודם
           </a>
        {% endif %}
          </td>
         </tr>
        </table>
       </td>
      </tr>
      <tr>
       <td class="simplePagerContainer">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr class="simplePager smallText">
          <td class="simplePagerNext" nowrap="" width="60">

          </td>
         </tr>
        </table>
       </td>
      </tr>
      <tr>
       <td valign="top">
        <table border="0" cellpadding="0" cellspacing="0" class="wrapperBorder" width="100%">
         <tr>
          <td>
           <table border="0" cellpadding="0" cellspacing="1" class="ForumsList" dir="rtl" width="100%">
            <tr>
             <td class="ForumChannelHeaderBar PrettyBoxHeadline RedLine" colspan="4" style='background-image: url({% static "gamer2/skins/0/images/g3style/mainbox-top.png" %});'>
              <table cellpadding="0" cellspacing="0" width="100%">
               <tr>
                <td>
                 <span class="forumNameBlank">
                     {{t.name}}
                 </span>
                </td>
                <td align="left" class="ForumChannelHeaderBar PrettyBoxHeadline" style='background-image: url({% static "gamer2/skins/0/images/g3style/mainbox-top.png" %});' valign="middle">
                </td>
               </tr>
              </table>
             </td>
            </tr>
            <tr class="ForumListItem">
             <td align="center" class="ClearBoxInterior BackgroundWhite" style="vertical-align:middle" width="41">
              הדיון נעול
             </td>
             <td class="ClearBoxInterior BackgroundWhite">
              <table>
              </table>
             </td>
             <td class="ClearBoxInterior BackgroundWhite" width="300">
              <img align="absmiddle" border="0" src='{% static "/gamer2/skins/0/images/icons//icon_homepage.gif" %}'/>
              <a class="forum1" href='{% static "/gamer2/php/forumslist.php" %}'>
               חזור לדף פורומים ראשי
              </a>
              <br>
               <img align="absmiddle" border="0" src='{% static "/gamer2/skins/0/images/icons/icon_bar.gif" %}'/>
               <img align="absmiddle" border="0" src='{% static "/gamer2/skins/0/images/icons/icon_folder.gif" %}'/>
               <a class="forum1" href="/forum/{{ t.forum.id }}">
                   חזור לפורום {{t.forum.name}}
               </a>
               <br/>
               <img align="absmiddle" border="0" src='{% static "/gamer2/skins/0/images/icons/icon_corner.gif" %}'/>
               <img align="absmiddle" border="0" src='{% static "/gamer2/skins/0/images/icons/icon_folder.gif" %}'/>
               <select class="smallText" dir="rtl" id="" name="" onchange="go(this)">
               </select>
              </br>
             </td>
             <td class="ClearBoxInterior BackgroundWhite pagerDropBox mediumText" width="130">
                 סה"כ {{postcount}} תגובות
              <br/>
              על פני {{pages}} עמודים
              <br/>
              עבור לדף:
              <select class="smallText" onchange="go(this)">
              </select>
              <br/>
             </td>
            </tr>
           </table>
          </td>
         </tr>
        </table>
       </td>
      </tr>
     </table>
    </td>
    <td width="5">
     <img src='{% static "1pixel.gif" %}' width="10"/>
    </td>
    <td valign="top" width="140">
     <div class="PrettyBox" style="border-top:2px solid #ffffff;border-bottom:2px solid #ffffff;border-left:2px solid #ffffff;">
      <div class="PrettyBoxTop" style='background-image: url({% static "gamer2/skins/0/images/g3style/mainbox-top.png" %});'>
      </div>
      <div class="nav-box">
       <table class="Structural RightNavBar BlackBackground">
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/icons/rashi.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="BlockNavBar TinyText" href='{% static "/" %}'>
           ראשי
          </a>
         </td>
        </tr>
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/icons/gamer2.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="BlockNavBar TinyText" href='{% static "/gamer2/php/gamer2.php" %}'>
           הורדות-Gamer//2
          </a>
         </td>
        </tr>
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/icons/news.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="BlockNavBar TinyText" href='{% static "/Section/" %}'>
           חדשות
          </a>
         </td>
        </tr>
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/icons/articals.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="BlockNavBar TinyText" href='{% static "/Section/" %}'>
           ביקורות
          </a>
         </td>
        </tr>
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/icons/articals.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="BlockNavBar TinyText" href='{% static "/Section/" %}'>
           בקרוב
          </a>
         </td>
        </tr>
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/icons/articals.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="BlockNavBar TinyText" href='{% static "/Section/" %}'>
           דעות
          </a>
         </td>
        </tr>
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/icons/articals.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="BlockNavBar TinyText" href='{% static "/Section/" %}'>
           מיוחד
          </a>
         </td>
        </tr>
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/icons/articals.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="BlockNavBar TinyText" href='{% static "/Section/" %}'>
           וידאו
          </a>
         </td>
        </tr>
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/icons/articals.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="BlockNavBar TinyText" href='{% static "/Default.asp" %}'>
           RSS
          </a>
         </td>
        </tr>
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/icons/forums.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="BlockNavBar TinyText" href='{% static "/gamer2/php/forumslist.php" %}'>
           פורומים
          </a>
         </td>
        </tr>
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/icons/download.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="BlockNavBar TinyText" href="http://games.nana10.co.il">
           נענע משחקים
          </a>
         </td>
        </tr>
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/icons/servers.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="BlockNavBar TinyText" href='{% static "/Article/Default.asp" %}'>
           שרתי משחק
          </a>
         </td>
        </tr>
        <tr>
         <td align="center" colspan="3" style="padding:5px;">
          <hr color="#D70000" size="3px"/>
         </td>
        </tr>
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/design/arrow_rnb.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="ChannelNavBar SmallText boldText" href='{% static "/gamer2/php/forumslist.php" %}'>
           פעולה
          </a>
         </td>
        </tr>
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/design/arrow_rnb.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="ChannelNavBar SmallText boldText" href='{% static "/gamer2/php/forumslist.php" %}'>
           קונסולות
          </a>
         </td>
        </tr>
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/design/arrow_rnb.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="ChannelNavBar SmallText boldText" href='{% static "/gamer2/php/forumslist.php" %}'>
           אסטרטגיה
          </a>
         </td>
        </tr>
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/design/arrow_rnb.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="ChannelNavBar SmallText boldText" href='{% static "/gamer2/php/forumslist.php" %}'>
           תפקידים
          </a>
         </td>
        </tr>
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/design/arrow_rnb.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="ChannelNavBar SmallText boldText" href='{% static "/gamer2/php/forumslist.php" %}'>
           משחקים המונים
          </a>
         </td>
        </tr>
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/design/arrow_rnb.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="ChannelNavBar SmallText boldText" href='{% static "/gamer2/php/forumslist.php" %}'>
           סימולטורים
          </a>
         </td>
        </tr>
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/design/arrow_rnb.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="ChannelNavBar SmallText boldText" href='{% static "/gamer2/php/forumslist.php" %}'>
           ספורט
          </a>
         </td>
        </tr>
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/design/arrow_rnb.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="ChannelNavBar SmallText boldText" href='{% static "/gamer2/php/forumslist.php" %}'>
           משחקי מנג'ר וניהול
          </a>
         </td>
        </tr>
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/design/arrow_rnb.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="ChannelNavBar SmallText boldText" href='{% static "/gamer2/php/forumslist.php" %}'>
           חומרה
          </a>
         </td>
        </tr>
        <tr>
         <td align="center">
          <img align="absbottom" border="0" src='{% static "/gamer2/skins/0/images/design/arrow_rnb.gif" %}'/>
         </td>
         <td width="4">
         </td>
         <td align="right" height="25" nowrap="">
          <a class="ChannelNavBar SmallText boldText" href='{% static "/gamer2/php/forumslist.php" %}'>
           Gamer XTRA
          </a>
         </td>
        </tr>
       </table>
      </div>
     </div>
     <br>
      <br/>
     </br>
    </td>
   </tr>
  </table>
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
   <tr>
    <td colspan="3">
     <br/>
    </td>
   </tr>
  </table>
 </body>
</html>
